<div class="row">
    <div class="form-group col-12">
        <input class="float-right" id="upload" type="file" name="file" (change)="onFileSelect($event)">
    </div>
</div>

<hr />

<form [formGroup]="filterForm" (ngSubmit)="search()">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class='form-group'>
                            <label>IBGE</label>
                            <input type="text" class='form-control' formControlName="ibgeId">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class='form-group'>
                            <label>Somente capitais</label>
                            <select class="browser-default custom-select" formControlName="capital">
                                <option value="true">Sim</option>
                                <option value="false" selected>Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class='form-group'>
                            <label>Estado</label>
                            <select class="browser-default custom-select" formControlName="stateId">
                                <option value="" selected>Selecione</option>
                                <option [value]="state.id" *ngFor="let state of states"> {{state.uf}} </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <button class="btn btn-outline-success btn-senior float-right mr-2" type="submit"> <i class="fa fa-search"></i> Pesquisar</button>
                <button class="btn btn-outline-secondary float-right mr-2" type="button" (click)="resetFilter()"> <i class="fa fa-trash"></i> Limpar</button>
                <button class="btn btn-outline-success btn-senior float-right mr-2" type="button" [routerLink]="['../city-registration']"> <i class="fa fa-plus"></i> Nova Cidade</button>
            </div>
        </div>
    </div>
</form>

<hr />

<ngx-datatable class="bootstrap striped" (sort)="onSort($event)" [rows]="cities" [columnMode]="'force'"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [selectionType]="'checkbox'" (select)='onSelect($event)'
    (page)='setPage($event.offset)' [externalPaging]="true" [count]="pageable.total" [offset]="pageable.page"
    [limit]="pageable.size" [selected]="selectedCities" [messages]="datatableMessageConfig">

    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
    </ngx-datatable-column>

    <ngx-datatable-column *ngFor="let column of columns" name={{column.name}} prop={{column.prop}}></ngx-datatable-column>

    <ngx-datatable-column name="Ações" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-outline-primary mr-2" (click)="editCity(row.id)">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="removeCity(row.id)">
                <i class="fa fa-close"></i>
            </button>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
