input {
    border: 1px solid #008267 !important;
    color: #008267 !important;
}

.btn-senior {
    border: 1px solid #008267 !important;
    color: #008267;
}

.btn-senior:hover {
    background: #008267 !important;
    color: white;
}